@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);
@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700);
body {
  font-family: "PT Sans", sans-serif;
  color: #313131;
  margin: 0;
  padding: 0;
}
.container {
  color: #313131;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}
.container caption {
  background-color: rgba(76, 117, 151, 0.5);
  color: #fff;
  font-size: 48px;
  border-bottom: 1.2px solid #313131;
  padding: 5px 4px 5px 4px;
  text-align: left;
  font-weight: 600;
}
.container.theme-green caption {
  background: rgba(117, 151, 76, 0.5);
}
.container.theme-red caption {
  background: rgba(151, 76, 117, 0.5);
}
.container.theme-dark td {
  color: #fff;
}
.container.theme-variant-b {
  color: #000;
}
.container.theme-variant-b caption {
  background: #F5E2E6;
  color: #5d5d5d;
}
.container.theme-variant-c {
  color: #fffacd;
}
.container.theme-variant-c caption {
  background: #56313f;
  color: #fffacd;
}
.container.theme-variant-c td {
  color: #fffacd;
}
.container.theme-variant-c .day {
  border-bottom-color: #fffacd !important;
}
.daily-forecast {
  display: table;
  width: 100%;
  color: #313131;
}
.day {
  color: #313131;
  vertical-align: middle;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  border: none;
  border-bottom: 1.2px solid #313131;
}
.day td {
  border: none;
  padding: 0;
}
.day .currentDay {
  font-size: 48px;
}
.day .day-icon {
  font-size: 48px;
  min-width: 72px;
  height: 72px;
  padding-bottom: 9.6px;
  padding-top: 9.6px;
}
.day .day-icon-seperator {
  display: none;
}
.day .weekday {
  font-size: 48px;
  display: none;
  text-transform: uppercase;
  padding-left: 20px;
}
.day .maxTemp {
  padding-left: 12px;
}
.day .unitTemp {
  display: none;
}
.day .weekday-short {
  width: 25%;
}
.day .desc {
  padding-left: 38.83281573px;
  padding-right: 20px;
  line-height: 1.25;
  text-align: left;
  width: 100%;
}
.day:nth-of-type(1).currentDay {
  background-color: rgba(49, 49, 49, 0.2);
  /*display: inline-block;
            padding: 30px;
            width: 550px;
            height: 550px;*/
}
.day:nth-of-type(1).currentDay .day-icon-seperator {
  display: block;
  width: 90%;
  height: 5px;
  background-color: #F2F2F2;
  border: none;
}
.day:nth-of-type(1).currentDay .weekday {
  display: table-cell;
}
.day:nth-of-type(1).currentDay .weekday-short {
  display: none;
}
.day:last-of-type {
  border-bottom-width: 4.8px;
}
.powered-by {
  font-size: 36px;
  clear: both;
  float: right;
  margin-right: 4%;
}
