@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);
@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700);
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  pointer-events: none;
  /* 
        DIsable Text Selection 
        <https://stackoverflow.com/a/4407335>
    */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently
                                    not supported by any browser */
}
body .hidden {
  display: none !important;
}
body.feed #games {
  width: auto !important;
}
body .ownername span {
  border-bottom: 1px solid #fff;
}
body.flickr #header:after,
body[data-lang="en"].flickr #header:after {
  content: " (Images from Flickr)";
}
body .ownername:before,
body[data-lang="en"] .ownername:before {
  content: "by ";
}
body #games.no-images:empty,
body[data-lang="en"] #games.no-images:empty {
  background-image: url("no-images-en.jpg");
}
body[data-lang="nb"].flickr #header:after {
  content: " (bilder fra Flickr)";
}
body[data-lang="nb"] .ownername:before {
  content: "av ";
}
body[data-lang="nb"] #games.no-images:empty {
  background-image: url("no-images-nb.jpg");
}
body[data-lang="nn"].flickr #header:after {
  content: " (bilder frå Flickr)";
}
body[data-lang="nn"] .ownername:before {
  content: "av ";
}
body[data-lang="nn"] #games.no-images:empty {
  background-image: url("no-images-nb.jpg");
}
body #header {
  background-color: rgba(76, 117, 151, 0.5);
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 48px;
  padding: 5px 4px 5px 4px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-weight: bold;
}
body #header:before,
body #header:after {
  font-weight: normal;
}
body.theme-green .ownername span {
  border-bottom-color: #fff;
}
body.theme-green #header {
  background-color: rgba(117, 151, 76, 0.5);
  color: #fff;
}
body.theme-green #games .cs-title {
  background: rgba(117, 151, 76, 0.5);
  color: #fff;
}
body.theme-green #games .cs-title .content a {
  color: #75974c;
}
body.theme-red .ownername span {
  border-bottom-color: #fff;
}
body.theme-red #header {
  background-color: rgba(151, 76, 117, 0.5);
  color: #fff;
}
body.theme-red #games .cs-title {
  background: rgba(151, 76, 117, 0.5);
  color: #fff;
}
body.theme-red #games .cs-title .content a {
  color: #974c75;
}
body.theme-variant-b .ownername span {
  border-bottom-color: #5d5d5d;
}
body.theme-variant-b #header {
  background-color: rgba(245, 226, 230, 0.7);
  color: #5d5d5d;
}
body.theme-variant-b #games .cs-title {
  background: rgba(245, 226, 230, 0.7);
  color: #5d5d5d;
}
body.theme-variant-b #games .cs-title .content a {
  color: #000;
}
body.theme-variant-c .ownername span {
  border-bottom-color: #fffacd;
}
body.theme-variant-c #header {
  background-color: rgba(86, 49, 63, 0.7);
  color: #fffacd;
}
body.theme-variant-c #games .cs-title {
  background: rgba(86, 49, 63, 0.7);
  color: #fffacd;
}
body.theme-variant-c #games .cs-title .content a {
  color: #fffacd;
}
.coin-slider {
  z-index: 0;
  height: 100%;
}
#games {
  left: 50%;
  transform: translateX(-50%);
  -moz-transform-origin: 50% 0;
  -moz-transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: 480px auto;
}
#games:empty {
  background-size: 100%;
  height: 100%;
}
#games a.cs-games {
  background-size: 480px auto;
}
#games .cs-title {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(76, 117, 151, 0.5);
  color: #fff;
  font-size: 12px;
}
#games .cs-title .content a {
  color: #add8e6;
}
