@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);
@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700);
.forecast body {
  font-family: "PT Sans", sans-serif;
  color: #313131;
  margin: 0;
  padding: 0;
}
.forecast .container {
  color: #313131;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}
.forecast .container caption {
  background-color: rgba(76, 117, 151, 0.5);
  color: #fff;
  font-size: 48px;
  border-bottom: 1.2px solid #313131;
  padding: 5px 4px 5px 4px;
  text-align: left;
  font-weight: 600;
}
.forecast .container.theme-green caption {
  background: rgba(117, 151, 76, 0.5);
}
.forecast .container.theme-red caption {
  background: rgba(151, 76, 117, 0.5);
}
.forecast .container.theme-dark td {
  color: #fff;
}
.forecast .container.theme-variant-b {
  color: #000;
}
.forecast .container.theme-variant-b caption {
  background: #F5E2E6;
  color: #5d5d5d;
}
.forecast .daily-forecast {
  display: table;
  width: 100%;
  color: #313131;
}
.forecast .day {
  color: #313131;
  vertical-align: middle;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  border: none;
  border-bottom: 1.2px solid #313131;
}
.forecast .day td {
  border: none;
  padding: 0;
}
.forecast .day .currentDay {
  font-size: 48px;
}
.forecast .day .day-icon {
  font-size: 48px;
  min-width: 72px;
  height: 72px;
  padding-bottom: 9.6px;
  padding-top: 9.6px;
}
.forecast .day .day-icon-seperator {
  display: none;
}
.forecast .day .weekday {
  font-size: 48px;
  display: none;
  text-transform: uppercase;
}
.forecast .day .maxTemp {
  padding-left: 12px;
}
.forecast .day .unitTemp {
  display: none;
}
.forecast .day .weekday-short {
  width: 25%;
}
.forecast .day .desc {
  padding-left: 38.83281573px;
  padding-right: 38.83281573px;
  line-height: 1.25;
  text-align: left;
  width: 100%;
}
.forecast .day:nth-of-type(1).currentDay {
  background-color: rgba(49, 49, 49, 0.2);
  /*display: inline-block;
            padding: 30px;
            width: 550px;
            height: 550px;*/
}
.forecast .day:nth-of-type(1).currentDay .day-icon-seperator {
  display: block;
  width: 90%;
  height: 5px;
  background-color: #F2F2F2;
  border: none;
}
.forecast .day:nth-of-type(1).currentDay .weekday {
  display: table-cell;
}
.forecast .day:nth-of-type(1).currentDay .weekday-short {
  display: none;
}
.forecast .day:last-of-type {
  border-bottom-width: 4.8px;
}
.forecast .powered-by {
  font-size: 36px;
  clear: both;
  float: right;
  margin-right: 4%;
}
.current body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  /*padding-top: 5px;*/
}
.current #content {
  zoom: 1.0 !important;
}
.current .container {
  text-align: center;
  margin-top: 40px;
  color: #313131;
}
.current .icon {
  font-size: 72px;
}
.current .font-icon {
  font-size: 123.84px;
}
.current .desc {
  margin-top: 20px;
  font-size: 60px;
}
.current .powered-by {
  font-size: 24px;
  clear: both;
}
.current .day {
  margin-top: 20px;
  font-size: 96px;
}
.current .title {
  background: rgba(76, 117, 151, 0.7);
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  padding: 5px 4px 5px 4px;
  margin: 0;
}
.current .theme-green.title {
  background: rgba(117, 151, 76, 0.7);
}
.current .theme-red.title {
  background: rgba(151, 76, 117, 0.7);
}
.current .theme-dark ~ .container {
  color: #fff;
}
.current .theme-variant-b.title {
  background: #F5E2E6;
  color: #5d5d5d;
}
.current .theme-variant-b ~ .container {
  color: #000;
}
.powered-by img {
  width: auto;
  height: 72px;
}
