@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  /*padding-top: 5px;*/
}
.container {
  text-align: center;
  margin-top: 20px;
}
.icon {
  font-size: 36px;
}
.font-icon {
  font-size: 62px;
}
.desc {
  margin-top: 10px;
  font-size: 30px;
}
.powered-by {
  font-size: 12px;
  clear: both;
}
.day {
  margin-top: 10px;
  font-size: 48px;
}
.title {
  background: rgba(76, 117, 151, 0.5);
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding: 2.5px 2px;
}