@import "../../shared/lib.less";

.tasks-ticker-mixin() {
    .gcf-item-daterange:after {
        content: ": ";
    }

    .gcf-item-title:not(:empty):after {
        content: " ";
    }

    .gcf-item-location:not(:empty) {
        &:before {
            content: " (";
        }

        &:after {
            content: ")";
        }
    }
}

.tasks-mixin() {
    .gcf-item-container-block {
        .border-box-sizing-mixin();
        border-bottom: solid 75px transparent;
        height: 100%;
        overflow-y: auto;
    }

    .gcf-item-title > i.fa {
        // Keep the title text at the same distance regardless of the icon 
        // width
        display: inline-block;
        width: 2ch; // Set the width to a 2 character fixed size
    }
}

.ticker-mixin() {
    @_ticker_height: 74px;

    height: @_ticker_height;
    .border-box-sizing-mixin();

    .gcf-header-block {
        float: left;
        height: @_ticker_height;
        .border-box-sizing-mixin();

        padding-top: 0; // Keep the children centered vertically
        padding-bottom: 0; // Keep the children centered vertically
    }

    .gcf-title-block > span.icon {
        vertical-align: middle;
    }

    .gcf-item-container-block {
        //margin-bottom: 0.2em;
        overflow: hidden;
        height: @_ticker_height;
    }

    .gcf-item-block {
        height: @_ticker_height;

        margin-bottom: 0;
        padding: 0;
    }

    .gcf-item-header-block {
        height: @_ticker_height;
        line-height: @_ticker_height; // Keep the children centered vertically
    }

    .gcf-item-description {
        padding-left: 1em;
        color: @main-color;
        font-size: 78%;

        &:before {
            content: " -- ";
            color: #aaa;
        }
    }
}

.lang-mixin() {
    &, &[data-lang="en"] {
        .week:before {
            content: "Week ";
        }

        .gcf-title:empty:before {
            content: "Loading...";
        }
    }

    &[data-lang="nb"] {
        .week:before {
            content: "Uke ";
        }

        .gcf-title:empty:before {
            content: "Laster...";
        }
    }
}

.bg-color-mixin(@color, @base-color) {
    background-color: mix(@color, @base-color, 75%);
    //background-color: hsl(hue(@color), saturation(@base-color), lightness(@color));
}
