@import "../shared/styles.less";
@import "styles/lib.less";

html {
    font-family: @font-family;
}
body {
    overflow: hidden;
    
    /* Display & Box Model */
    margin: 0;
    /* Visual */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -ms-overflow-style: none;
}

hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: @main-color; /* old IE */
    background-color: @main-color; /* Modern Browsers */
}
html, body {
    background-color: transparent;
}
ul {
    /* Display & Box Model */
    margin: 0;
    padding: 0 20px;
    /* Visual */
    list-style-type: none;
}

.hidden:not(.gcf-item-block) {
    display: none;
}

#gcf-custom-template {
    width: 100%;
    height: 100%;
    background: transparent !important;
    border: none;
    .lang-mixin;

    &:not(.ticker) {
        .gcf-item-container-block {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-bottom: solid 80px transparent;
            height: 100%;
            overflow-y: auto;
        }
    }

    &:not(.tasks):not(.ticker) {
        .gcf-item-container-block {
            padding: 10px 20px 0px 20px;
            border-bottom: 1px solid @main-color;
            overflow-y: hidden !important;
        }
    }

    .gcf-header-block {
        background: @header-bgcolor;
        padding: @header-padding;

        .fa, .gcf-title {
            display: inline;
            font-size: @font-size;
            font-weight: 600;
            color: @header-fgcolor;
        }
    }

    .gcf-item-block {
        margin-bottom: 8px;
        border-bottom: none;

        &.hidden {
            padding: 0;
            margin: 0;
            border: none;
            height: 0;
        }

        &.disabled {
            opacity: 0.50;
        }
    }

    .gcf-item-daterange {
        white-space: normal;
        font-family: @font-family;
        color: @main-color;
        font-size: @font-size;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
    }

    .gcf-item-title {
        font-family: @font-family;
        color: @accent-color;
        font-size: @font-size;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        white-space: normal;
        line-height: 1.125;
    }

    .gcf-item-location {
        font-family: @font-family;
        color: @main-color;
        font-size: @font-size;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
    }

    .gcf-item-description {
        font-family: @font-family;
        color: @main-color;
        font-size: @font-size;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        background-color: transparent;
        margin: 15px 0 0 0;

        table {
            font-size: @font-size * 0.75;

            td[nowrap] {
                padding-left: @font-size / 3;
            }
        }
    }

    &.tasks, &.ticker {
        .tasks-ticker-mixin;
    }

    &.tasks {
        .tasks-mixin;
    }

    &.ticker {
        .ticker-mixin;
    }
}
