@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);
html {
  font-family: "Open Sans", sans-serif;
}
body {
  overflow: hidden;
  /* Display & Box Model */
  margin: 0;
  /* Visual */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -ms-overflow-style: none;
}
hr {
  border: none;
  height: 2px;
  /* Set the hr color */
  color: #313131;
  /* old IE */
  background-color: #313131;
  /* Modern Browsers */
}
html,
body {
  background-color: transparent;
}
ul {
  /* Display & Box Model */
  margin: 0;
  padding: 0 20px;
  /* Visual */
  list-style-type: none;
}
.hidden:not(.gcf-item-block) {
  display: none;
}
#gcf-custom-template {
  width: 100%;
  height: 100%;
  background: transparent !important;
  border: none;
}
#gcf-custom-template .week:before,
#gcf-custom-template[data-lang="en"] .week:before {
  content: "Week ";
}
#gcf-custom-template .gcf-title:empty:before,
#gcf-custom-template[data-lang="en"] .gcf-title:empty:before {
  content: "Loading...";
}
#gcf-custom-template[data-lang="nb"] .week:before {
  content: "Uke ";
}
#gcf-custom-template[data-lang="nb"] .gcf-title:empty:before {
  content: "Laster...";
}
#gcf-custom-template .gcf-header-block {
  background: rgba(76, 117, 151, 0.5);
  padding: 5px 4px 5px 4px;
}
#gcf-custom-template .gcf-header-block .fa,
#gcf-custom-template .gcf-header-block .gcf-title {
  display: inline;
  font-size: 48px;
  font-weight: 600;
  color: #fff;
}
#gcf-custom-template:not(.ticker) .gcf-item-container-block {
  box-sizing: border-box;
  border-bottom: solid 80px transparent;
  height: 100%;
  overflow-y: auto;
}
#gcf-custom-template:not(.tasks):not(.ticker) .gcf-item-container-block {
  box-sizing: border-box;
  border-bottom: solid 80px transparent;
  height: 100%;
  padding: 10px 20px 0px 20px;
  border-bottom: 1px solid #313131;
  overflow-y: hidden !important;
}
#gcf-custom-template .gcf-item-block {
  margin-bottom: 8px;
  border-bottom: none;
}
#gcf-custom-template .gcf-item-block.hidden {
  padding: 0;
  margin: 0;
  border: none;
  height: 0px;
}
#gcf-custom-template .gcf-item-block.disabled {
  opacity: 0.50;
}
#gcf-custom-template .gcf-item-daterange {
  white-space: normal;
  font-family: "Open Sans", sans-serif;
  color: #313131;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  background-color: transparent;
}
#gcf-custom-template .gcf-item-title {
  font-family: "Open Sans", sans-serif;
  color: #4c7597;
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  background-color: transparent;
  white-space: normal;
  line-height: 1.125;
}
#gcf-custom-template .gcf-item-location {
  font-family: "Open Sans", sans-serif;
  color: #313131;
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  background-color: transparent;
}
#gcf-custom-template.tasks .gcf-item-daterange:after,
#gcf-custom-template.ticker .gcf-item-daterange:after {
  content: ": ";
}
#gcf-custom-template.tasks .gcf-item-title:not(:empty):after,
#gcf-custom-template.ticker .gcf-item-title:not(:empty):after {
  content: " ";
}
#gcf-custom-template.tasks .gcf-item-location:not(:empty):before,
#gcf-custom-template.ticker .gcf-item-location:not(:empty):before {
  content: " (";
}
#gcf-custom-template.tasks .gcf-item-location:not(:empty):after,
#gcf-custom-template.ticker .gcf-item-location:not(:empty):after {
  content: ")";
}
#gcf-custom-template .gcf-item-description {
  font-family: "Open Sans", sans-serif;
  color: #313131;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  background-color: transparent;
  margin: 15px 0 0 0;
}
#gcf-custom-template .gcf-item-description table {
  font-size: 36px;
}
#gcf-custom-template.ticker {
  height: 74px;
  box-sizing: border-box;
}
#gcf-custom-template.ticker .gcf-header-block {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  float: left;
  height: 74px;
  box-sizing: border-box;
}
#gcf-custom-template.ticker .gcf-item-container-block {
  margin-bottom: 0.2em;
  overflow: hidden;
  height: 74px;
}
#gcf-custom-template.ticker .gcf-item-description {
  padding-left: 1em;
  color: #313131;
  font-size: 78%;
}
#gcf-custom-template.ticker .gcf-item-description:before {
  content: " -- ";
  color: #aaa;
}
#gcf-custom-template.ticker .gcf-item-block {
  margin-bottom: 0px;
  padding: 0;
}