@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);
@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700);
html {
  font-family: "PT Sans", sans-serif;
}
body {
  overflow: hidden;
  /* Display & Box Model */
  margin: 0;
  /* Visual */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -ms-overflow-style: none;
}
hr {
  border: none;
  height: 2px;
  /* Set the hr color */
  color: #313131;
  /* old IE */
  background-color: #313131;
  /* Modern Browsers */
}
html,
body {
  background-color: transparent;
}
ul {
  /* Display & Box Model */
  margin: 0;
  padding: 0 20px;
  /* Visual */
  list-style-type: none;
}
.hidden:not(.gcf-item-block) {
  display: none !important;
}
#gcf-custom-template {
  width: 100%;
  height: 100%;
  background: transparent !important;
  border: none;
  border-radius: 0 !important;
  padding-bottom: 0 !important;
}
#gcf-custom-template .week:before,
#gcf-custom-template[data-lang="en"] .week:before {
  content: "Week ";
}
#gcf-custom-template .gcf-title:empty:before,
#gcf-custom-template[data-lang="en"] .gcf-title:empty:before {
  content: "Loading...";
}
#gcf-custom-template[data-lang="nb"] .week:before {
  content: "Uke ";
}
#gcf-custom-template[data-lang="nb"] .gcf-title:empty:before {
  content: "Laster...";
}
#gcf-custom-template.theme-green .gcf-header-block {
  background: rgba(117, 151, 76, 0.7);
}
#gcf-custom-template.theme-green .gcf-item-title {
  color: #75974c;
}
#gcf-custom-template.theme-green ::-webkit-scrollbar-thumb {
  background-color: rgba(117, 151, 76, 0.7);
}
#gcf-custom-template.theme-red .gcf-header-block {
  background: rgba(151, 76, 117, 0.7);
}
#gcf-custom-template.theme-red .gcf-item-title {
  color: #974c75;
}
#gcf-custom-template.theme-red ::-webkit-scrollbar-thumb {
  background-color: rgba(151, 76, 117, 0.7);
}
#gcf-custom-template:not(.ticker) .gcf-item-container-block {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: solid 80px transparent;
  height: 100%;
  overflow-y: auto;
}
#gcf-custom-template:not(.tasks):not(.ticker) .gcf-item-container-block {
  padding: 0 20px;
  border-bottom: 1px solid #313131;
  overflow-y: hidden !important;
}
#gcf-custom-template .gcf-header-block {
  background: rgba(76, 117, 151, 0.7);
  padding: 5px 4px 5px 4px;
  border-radius: 0 !important;
  font-size: 48px;
}
#gcf-custom-template .gcf-header-block .fa,
#gcf-custom-template .gcf-header-block .gcf-title {
  display: inline;
  font-weight: 600;
  color: #fff;
}
#gcf-custom-template .gcf-header-block .fa-stack {
  font-size: 0.5em;
}
#gcf-custom-template .gcf-header-block .scroll_btns {
  position: absolute;
  right: 48px;
}
#gcf-custom-template .gcf-header-block .scroll_btns a {
  width: 1ch;
  display: inline-block;
}
#gcf-custom-template .gcf-item-block {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 8px;
  border-bottom: none;
}
#gcf-custom-template .gcf-item-block.hidden {
  padding: 0;
  margin: 0;
  border: none;
  height: 0;
}
#gcf-custom-template .gcf-item-block.disabled {
  opacity: 0.50;
}
#gcf-custom-template .gcf-item-daterange {
  white-space: normal;
  font-family: "PT Sans", sans-serif;
  color: #313131;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  background-color: transparent;
}
#gcf-custom-template .gcf-item-title {
  font-family: "PT Sans", sans-serif;
  color: #4c7597;
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  background-color: transparent;
  white-space: normal;
  line-height: normal;
}
#gcf-custom-template .gcf-item-location {
  font-family: "PT Sans", sans-serif;
  color: #313131;
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  background-color: transparent;
}
#gcf-custom-template .gcf-item-description {
  font-family: "PT Sans", sans-serif;
  color: #313131;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  background-color: transparent;
  margin: 15px 0 0 0;
}
#gcf-custom-template .gcf-item-description table {
  font-size: 36px;
}
#gcf-custom-template .gcf-item-description table td[nowrap] {
  padding-left: 16px;
}
#gcf-custom-template .gcf-item-description table td[bgcolor="#EBF187"] {
  /* modest pollen dispersal */
  background-color: #c3d28b;
}
#gcf-custom-template .gcf-item-description table td[bgcolor="#F8A722"] {
  /* moderate pollen dispersal */
  background-color: #cd9b3f;
}
#gcf-custom-template .gcf-item-description table td[bgcolor="#E9473C"] {
  /* heavy pollen dispersal */
  background-color: #c25353;
}
#gcf-custom-template .gcf-item-description table td[bgcolor="#7C2B0A"] {
  /* extreme pollen dispersal */
  background-color: #703e2d;
}
#gcf-custom-template.tasks .gcf-item-daterange:after,
#gcf-custom-template.ticker .gcf-item-daterange:after {
  content: ": ";
}
#gcf-custom-template.tasks .gcf-item-title:not(:empty):after,
#gcf-custom-template.ticker .gcf-item-title:not(:empty):after {
  content: " ";
}
#gcf-custom-template.tasks .gcf-item-location:not(:empty):before,
#gcf-custom-template.ticker .gcf-item-location:not(:empty):before {
  content: " (";
}
#gcf-custom-template.tasks .gcf-item-location:not(:empty):after,
#gcf-custom-template.ticker .gcf-item-location:not(:empty):after {
  content: ")";
}
#gcf-custom-template.tasks .gcf-item-container-block {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: solid 75px transparent;
  height: 100%;
  overflow-y: auto;
}
#gcf-custom-template.tasks .gcf-item-title > i.fa {
  display: inline-block;
  width: 2ch;
}
#gcf-custom-template.grouped-alt .gcf-item-container-block {
  overflow: hidden;
}
#gcf-custom-template.ticker {
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#gcf-custom-template.ticker .gcf-header-block {
  float: left;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 0;
}
#gcf-custom-template.ticker .gcf-title-block {
  /*
        # Vertical align anything with just 3 lines of CSS #

        Original author: Sebastian Ekström (http://twitter.com/seb_ekstrom)
        http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
    */
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: auto;
}
#gcf-custom-template.ticker .gcf-title-block > span.icon {
  vertical-align: middle;
}
#gcf-custom-template.ticker .gcf-item-container-block {
  overflow: hidden;
  height: 100%;
}
#gcf-custom-template.ticker .gcf-item-block {
  height: 100%;
  margin-bottom: 0;
  padding: 0;
}
#gcf-custom-template.ticker .gcf-item-header-block {
  height: 100%;
  line-height: 100%;
  /*
        # Vertical align anything with just 3 lines of CSS #

        Original author: Sebastian Ekström (http://twitter.com/seb_ekstrom)
        http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
    */
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#gcf-custom-template.ticker .gcf-item-daterange,
#gcf-custom-template.ticker .gcf-item-title,
#gcf-custom-template.ticker .gcf-item-location {
  white-space: nowrap;
}
#gcf-custom-template.ticker .gcf-item-description {
  padding-left: 1em;
  color: #313131;
  font-size: 78%;
}
#gcf-custom-template.ticker .gcf-item-description:before {
  content: " -- ";
  color: #aaa;
}
.hide-scrollbars .gcf-item-container-block {
  overflow-y: hidden !important;
}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(76, 117, 151, 0.7);
}