@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);
@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700);
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
html header,
body header {
  display: none;
}
html,
body,
html iframe,
body iframe {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: none;
}
html .cd-tabs,
body .cd-tabs {
  height: 100%;
  max-width: initial;
  width: 100%;
  margin: 0;
}
html .cd-tabs nav,
body .cd-tabs nav {
  height: auto;
  position: relative;
  float: none;
  background: transparent;
}
html .cd-tabs nav .cd-tabs-navigation,
body .cd-tabs nav .cd-tabs-navigation {
  background: transparent;
  width: 100%;
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
html .cd-tabs nav .cd-tabs-navigation a,
body .cd-tabs nav .cd-tabs-navigation a {
  height: 48px;
  font-size: 24px;
  padding-top: 0;
  padding-left: 48px;
  padding-right: 48px;
  display: inline-block;
  line-height: 48px;
  width: auto;
  text-align: left;
  opacity: 0.5;
  color: #313131;
}
html .cd-tabs nav .cd-tabs-navigation a::before,
body .cd-tabs nav .cd-tabs-navigation a::before {
  display: none;
}
html .cd-tabs nav .cd-tabs-navigation a:hover:not(.selected),
body .cd-tabs nav .cd-tabs-navigation a:hover:not(.selected) {
  color: #313131;
  background: #fff;
  color: #fff;
  background-color: #313131 !important;
  opacity: 0.25;
}
html .cd-tabs nav .cd-tabs-navigation a.selected,
body .cd-tabs nav .cd-tabs-navigation a.selected {
  box-shadow: inset 0 0 #4c7597;
  color: #fff;
  background-color: #313131 !important;
}
html .cd-tabs .cd-tabs-content,
body .cd-tabs .cd-tabs-content {
  min-height: 0 !important;
  /* Do not set a minimum height */
  height: 100%;
  background-color: transparent;
}
html .cd-tabs .cd-tabs-content li,
body .cd-tabs .cd-tabs-content li {
  height: 100%;
  padding: 0;
  border-bottom: 48px solid transparent;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::-webkit-scrollbar {
    width: 9.6px;
  }
  ::-webkit-scrollbar:horizontal {
    height: 9.6px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(49, 49, 49, 0.5);
  }
}